@import "variables";

h1 {
  color: $red-color;
}
.text-black {
  color: black;
}

.sub-header {
  * {
    font-size: 13px;
  }
}

#avatar__navbar {
  width: 35px;
  height: 35px;
}

// Bootstrap
.card {
  .card-body {
    .card-title {
      height: 49px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.authentication {
  a {
    margin: 0 8px;
    color: #dcdcdc;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.nav-item {
  &.active {
    a {
      border-bottom: 1px solid #f3f3f3;
    }
  }
}

.toastr {
  width: fit-content;
}

.table-striped {
  tbody {
    tr {
      td {
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2):not(.empty-row) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 50%;
        }
        &:nth-child(5) {
          width: 10%;
        }
      }
    }
  }
}

.table-blogs {
  tbody {
    tr {
      td {
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2):not(.empty-row) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(5) {
          width: 15%;
        }
      }
    }
  }
}

.course-detail-page {
  .author-container {
    background: rgb(224, 224, 224);
    img {
      width: 50px;
    }
  }
}

.blog-page {
  .blog-card {
    .img_area {
      flex: 25%;
      img {
        max-height: 110px;
      }
    }
    .sub-card {
      flex: 75%;

      .title {
        a {
          color: black;
        }
      }
    }
  }
}

.blog-create-page {
  #img-preview {
    width: 150px;
  }
}

.comment-area {
  .my-comment-area,
  .user-comment {
    img {
      width: 75px;
      height: 75px;
    }
  }
  .comment-post-area {
    .user-comment {
      img {
        width: 55px;
        height: 55px;
      }
      .name {
        font-size: 15px;
      }
    }
  }
}

.img-input-preview {
  position: relative;
  width: fit-content;

  img {
    max-width: 200px;
    max-height: 200px;
  }

  input {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
  }

  &:hover {
    label {
      display: flex;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      color: white;
      cursor: pointer;
      text-align: center;
      align-content: center;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  label {
    display: none;
  }
}
