@import "variables";

h1 {
  color: $red-color;
}

#avatar__navbar {
  width: 35px;
  height: 35px;
}

.authentication {
  a {
    margin: 0 8px;
    color: #dcdcdc;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.nav-link {
  &.custom {
    color: #e9e9e9;
    &:hover {
      color: #c6c6c6;
    }
  }
}

.table-striped {
  tbody {
    tr {
      td {
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2):not(.empty-row) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 50%;
        }
        &:nth-child(5) {
          width: 10%;
        }
      }
    }
  }
}
