@import "variables";

h1 {
  color: $red-color;
}

#avatar__navbar {
  width: 35px;
  height: 35px;
}

.authentication {
  a {
    margin: 0 8px;
    color: #dcdcdc;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
