h1 {
  color: red; }

.text-black {
  color: black; }

.sub-header * {
  font-size: 13px; }

#avatar__navbar {
  width: 35px;
  height: 35px; }

.card .card-body .card-title {
  height: 49px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.authentication a {
  margin: 0 8px;
  color: #dcdcdc; }
  .authentication a:hover {
    color: #ffffff;
    text-decoration: none; }

.nav-item.active a {
  border-bottom: 1px solid #f3f3f3; }

.toastr {
  width: fit-content; }

.table-striped tbody tr td:nth-child(1) {
  width: 5%; }

.table-striped tbody tr td:nth-child(2):not(.empty-row) {
  width: 25%; }

.table-striped tbody tr td:nth-child(3) {
  width: 10%; }

.table-striped tbody tr td:nth-child(4) {
  width: 50%; }

.table-striped tbody tr td:nth-child(5) {
  width: 10%; }

.table-blogs tbody tr td:nth-child(1) {
  width: 5%; }

.table-blogs tbody tr td:nth-child(2):not(.empty-row) {
  width: 25%; }

.table-blogs tbody tr td:nth-child(3) {
  width: 50%; }

.table-blogs tbody tr td:nth-child(4) {
  width: 10%; }

.table-blogs tbody tr td:nth-child(5) {
  width: 15%; }

.course-detail-page .author-container {
  background: #e0e0e0; }
  .course-detail-page .author-container img {
    width: 50px; }

.blog-page .blog-card .img_area {
  flex: 25%; }
  .blog-page .blog-card .img_area img {
    max-height: 110px; }

.blog-page .blog-card .sub-card {
  flex: 75%; }
  .blog-page .blog-card .sub-card .title a {
    color: black; }

.blog-create-page #img-preview {
  width: 150px; }

.comment-area .my-comment-area img,
.comment-area .user-comment img {
  width: 75px;
  height: 75px; }

.comment-area .comment-post-area .user-comment img {
  width: 55px;
  height: 55px; }

.comment-area .comment-post-area .user-comment .name {
  font-size: 15px; }

.img-input-preview {
  position: relative;
  width: fit-content; }
  .img-input-preview img {
    max-width: 200px;
    max-height: 200px; }
  .img-input-preview input {
    position: absolute;
    width: 0;
    top: 0;
    left: 0; }
  .img-input-preview:hover label {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    align-content: center; }
    .img-input-preview:hover label span {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .img-input-preview label {
    display: none; }
