<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="/">Demo Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-blog"
            aria-controls="navbar-blog" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse py-2 py-md-0" id="navbar-blog">
                 <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="nav-item-blog">
                        <a class="nav-link mb-2 mb-md-0"href="/">Blog</a>
                    </li>
                    <li class="nav-item" id="nav-item-video">
                        <a class="nav-link mb-2 mb-md-0"href="/courses">Share Video</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item dropdown d-flex">
                        <img src="/images/{{user.avatar}}" alt="avatar" class="rounded-circle mr-2" id="avatar__navbar">
                        <div class="w-100">
                            <a class="nav-link dropdown-toggle" 
                                    href="javascript:void(0);" 
                                    id="navbarDropdown" 
                                    role="button"
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                {{user.name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/courses/create">Thêm Mới Video</a>
                                <a class="dropdown-item" href="/blog/create">Thêm Mới Blog</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/me/store/courses">Video Của Tôi</a>
                                <a class="dropdown-item" href="/me/store/blogs">Bài Viết Của Tôi</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/me">Thông tin cá nhân</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Đăng Xuất</a>
                            </div>
                        </div>
                    </li>
                {{else}}
                    <div class="authentication">
                        <a href="/login" class="nav-item">Đăng nhập</a>
                        <a href="/register" class="nav-item">Đăng kí</a>
                    </div>
                {{/if}}
                </ul>
            </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        if(location.pathname === '/'){
            $("#nav-item-blog").addClass('active')
            $("#nav-item-video").removeClass('active')
        }else if (location.pathname === '/courses'){
            $("#nav-item-blog").removeClass('active')
            $("#nav-item-video").addClass('active')
        }
    });
</script>