<div class="col-12 d-flex justify-content-between py-1 sub-header">
    <div class="power">
        By Duy Nguyen
    </div>
    <div class="social">
        <a class="mx-2" href="https://github.com/nqduy91299" target="_blank" rel="noopener noreferrer" title="Github">
            <i data-eva="github" data-eva-animation="pulse" data-eva-width="15" data-eva-height="15"></i>
        </a>
        <a class="mx-2" href="https://www.linkedin.com/in/nqduy91299" target="_blank" rel="noopener noreferrer" title="Linkedin">
            <i data-eva="linkedin" data-eva-animation="pulse" data-eva-width="15" data-eva-height="15" data-eva-fill="#0e76a8"></i>
        </a>
        <a class="mx-2" href="https://fb.com/nqduy91299" target="_blank" rel="noopener noreferrer" title="Facebook">
            <i data-eva="facebook" data-eva-animation="pulse" data-eva-width="15" data-eva-height="15" data-eva-fill="#4267B2"></i>
        </a>
    </div>
    <div class="source">
        Source:
        <a href="https://github.com/nqduy91299/nodejs_demo" target="_blank" rel="noopener noreferrer">here</a>
    </div>
</div>