<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Input</label>
            <input type="text" name="query" class="form-control" id="exampleInputEmail1" placeholder="Input....">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>