<div class="container mt-5 pt-5">
    <div class="col-12 pt-5 mt-5 d-flex justify-content-center">
        <h1 class="mt-5">OPP..... Đường dẫn không chính xác!</h1>
    </div>
    <div class="col-12 mt-3 d-flex justify-content-center">
        <a href="/" class="btn btn-success">Click để quay về trang chủ</a>
    </div>
</div>