<div class="row mt-2 mt-lg-5">
    <div class="col-12 border rounded p-3">
         <h3>Đổi mật khẩu</h3>
         <form method="POST" action="/me/change-password?_method=PUT">
              <div class="form-group">
                <label for="oldPassword">Mật khẩu cũ:</label>
                <input class="form-control" type="password" name="oldPassword" id="oldPassword" required>
            </div> 
            <div class="form-group">
                <label for="password">Mật khẩu mới:</label>
                <input class="form-control" type="password" name="password" id="password" required>
            </div> 
            <div class="form-group">
                <label for="repassword">Nhập lại mật khẩu mới:</label>
                <input class="form-control" type="password" name="repassword" id="repassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
         </form>
    </div>
</div>